body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #007bff;
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Notifikasi hasil insert data */

p {
    color: #ff0000;
}